/* Whole Document*/

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
}

.text-center {
  text-align: left;
  max-width: 320px;
}
/* Grid-properties*/
.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  margin: 0 auto !important;
  margin-right: 0 auto !important;

  background-color: teal;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto !important;
  margin-right: 0 auto !important;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.page-button {
  display: block;
  background-color: #f28705;
  border-radius: 30px;
  border-color: #f28705;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 16px 100px;
  transition: all 200ms ease-in-out;
}

.page-button:hover {
  background-color: #0598aa;
  border-color: #0598aa;
  color: white;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

/*Header section*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/friend-banner-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  margin: 30px 0;
  text-align: center;
  color: white;
}

header h2 {
  font-weight: 100 !important;
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
  color: white;
}

header h3 {
  font-weight: 100px;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0px;
  text-align: center;
  color: white;
}

.header-button {
  display: grid;
  margin: auto;
  background-color: #f28705;
  border-radius: 30px;
  border-color: #f28705;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
  transition: all 200ms ease-in-out;
}

main {
  background: white;
}

main h3 {
  font-weight: 700;
  font-size: 24px;

  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.header-button:hover {
  background-color: #0598aa;
  border-color: #0598aa;
  color: white;
}

.intro-section {
  background-image: url("../images/intro-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}

.intro-section-description {
  padding-right: 50px;
}

.intro-section-description h3 {
  font-weight: 100;
}

.intro-section-description h2 {
  font-weight: 700;
}

.intro-section-description p {
  font-weight: 400;
}

.secdondary-cards {
  margin: 50px auto;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.text-center {
  text-align: center;
  font-weight: 400;
  color: #707070;
}

.text-center {
  text-align: center;
  font-weight: 700;
  color: #025159;
}

/*Desktop-Cards*/

.card {
  background: white;
  box-shadow: 20px 20px 40px rgba(198, 198, 198, 0.2);
}

.card-body h3 {
  color: #025159;
}

.card-body p {
  color: #707070;
}

/*Desktop-Image Gallery*/

.images {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Desktop-map*/

.section-third {
  margin: 0px auto;
}

.map {
  max-width: 100%;
}

/*Desktop-Footer*/

footer {
  padding-top: 115px;
  padding-bottom: 115px;

  color: white;
  background-image: linear-gradient(rgba(2, 81, 89, 1), rgba(0, 0, 0, 0.7)),
    url("../images/bali-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

footer ul {
  margin: 0px;
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #6e979a;
}

a :hover {
  color: white;
}

.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 30px;
}

.disclaimer {
  padding-top: 20px;
}

/*MOBILE*/

@media (max-width: 960px) {
  /*Mobile-Grid-Properties*/

  body {
    margin: 0px;
  }

  .text-center {
    font-weight: 400;
    color: #707070;
    margin-right: 0px !important;
  }

  .text-center {
    font-weight: 700;
    color: #025159;
    margin: 0px;
  }

  .img-responsive {
    max-width: 100%;
    display: block;
  }

  header {
    padding: 60px 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .intro-section {
    padding-left: 12px;
  }

  .card-body h3 {
    font-size: 18px;
  }

  .card-body p {
    font-size: 14px;
  }

  .page-button {
    display: block;
    background-color: #f28705;
    border-radius: 30px;
    border-color: #f28705;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 16px 90px;
    transition: all 200ms ease-in-out;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
  }

  .grid-3-columns {
    grid-template-columns: 1fr;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 12px;
    padding-right: 12px;
  }

  section {
    margin: 0px;
    padding: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .friends {
    max-width: 300px;
  }

  .description {
    margin-top: 20px;
    max-width: 320px;
  }
  .card {
    max-width: 320px;
  }

  section.gallery {
    margin: 0px;
  }

  .img-grid {
    display: block;
    padding-top: 12px;
    max-width: 320px;
    margin-right: 0px !important;
  }

  section.map {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 300px;
  }

  .embed {
    display: block;
    max-width: 300px;
    padding-top: 12px;
  }

  .footer-container {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 12px;
  }

  .website-description {
    padding-right: 20px;
  }

  .diclaimer {
    padding-left: 0 !important;
  }

  .Links-col-1 {
    padding-bottom: 20px;
  }

  .Links-col-2 {
    padding-bottom: 20px;
  }

  .hidden-mobile {
    display: none;
  }
}
