/* Whole Document*/

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
}

/* Grid-properties*/
.grid {
  display: grid;
  grid-gap: 20px;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

/*Header section*/

section {
  margin-top: 50px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/friend-banner-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.header-1 {
  font-weight: 700;
  font-size: 96px;
  margin: 30px 0;
  text-align: center;
  color: white;
}

.header-2 {
  font-weight: 100 !important;
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
  color: white;
}

.header-3 {
  font-weight: 100px;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0px;
  text-align: center;
  color: white;
}

.header-button {
  display: grid;
  margin: auto;
  background-color: #f28705;
  border-radius: 30px;
  border-color: #f28705;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
  transition: all 200ms ease-in-out;
}

.header-button:hover {
  background-color: #0598aa;
  border-color: #0598aa;
  color: white;
}

.intro-section {
  background-image: url("../images/intro-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  max-width: 100%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}

.intro-section-description {
  padding-right: 50px;
}

.intro-section-description h3 {
  font-weight: 100;
}

.intro-section-description h2 {
  font-weight: 700;
}

.intro-section-description p {
  font-weight: 400;
}

.secdondary-cards {
  margin: 50px auto;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.text-center-1 {
  text-align: center;
  font-weight: 400;
  color: #707070;
}

.text-center-2 {
  text-align: center;
  font-weight: 700;
  color: #025159;
}

/*Desktop-Cards*/

.card {
  background: white;
  box-shadow: 20px 20px 40px rgba(198, 198, 198, 0.2);
  max-width: 370px;
}

.card-body h3 {
  color: #025159;
}

.card-body p {
  color: #707070;
}

.card-body {
  padding: 0 30px 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.page-button {
  display: grid;
  margin: auto;

  background-color: #f28705;
  border-radius: 30px;
  border-color: #f28705;
  color: white;
  font-size: 18px;
  padding: 16px 117px;
  transition: all 200ms ease-in-out;
}

.page-button:hover {
  background-color: #0598aa;
  border-color: #0598aa;
  color: white;
}

/*Desktop-Image Gallery*/

.images {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery {
  margin: 50px auto;
  margin-left: 50px;
  margin-right: 50px;
}

.image {
  text-align: center;
  max-width: 370px;
}

/*Desktop-map*/

.section-third {
  margin: 50px auto;
  margin-left: 50px;
  margin-right: 50px;
}

.map {
  max-width: 100%;
}

/*Desktop-Footer*/

footer {
  padding-top: 115px;
  padding-bottom: 115px;

  color: white;
  background-image: linear-gradient(rgba(2, 81, 89, 1), rgba(0, 0, 0, 0.7)),
    url("../images/bali-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

footer ul {
  margin: 0px;
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #6e979a;
}

a :hover {
  color: white;
}

.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 30px;
}

.disclaimer {
  padding-top: 20px;
  text-align: center;
}

/*MOBILE*/

@media (max-width: 960px) {
  /*Mobile-Grid-Properties*/
  .grid-3-columns {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  /*Mobile-Header*/

  header {
    padding: 200px 0;
    position: relative;
  }

  .header-1 {
    font-size: 48px;
  }

  .header-2 {
    font-size: 20px;
  }

  .header-3 {
    font-size: 24px;
  }

  /*Mobile-Why Friendtip section*/

  .intro-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;

    display: grid;
    grid-template-columns: 1fr;
  }

  .intro-section-description {
    text-align: center;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  section.secondary-cards {
    background: #f8f8f8;
  }

  /*Mobile-Cards*/
  section.secondary-cards {
    background: #f8f8f8;
    max-width: 100%;
    margin: 10px auto;
    margin-left: 10px;
    margin-right: 0px;
  }

  .secondary-section-title {
    text-align: center;
  }

  .card {
    background: white;
    box-shadow: 20px 20px 40px rgba(198, 198, 198, 0.2);
    max-width: 320px;
  }

  .image-responsive {
    max-width: 100%;
    display: block;
  }

  .card-body {
    padding: 20px;
  }

  .page-button {
    display: grid;

    background-color: #f28705;
    border-radius: 30px;
    border-color: #f28705;
    color: white;
    font-size: 16px;
    padding: 16px 100px;
    transition: all 200ms ease-in-out;
  }

  /*Mobile-Image-Gallery*/

  .text-center-1 {
    text-align: center;
    font-weight: 400;
    color: #707070;
  }

  .text-center-2 {
    text-align: center;
    font-weight: 700;
    color: #025159;
  }

  .gallery {
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .gallery-grid {
    grid-gap: 20px;
  }

  .image {
    max-width: 320px;
  }

  /*Desktop-map*/

  .section-third {
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .map {
    max-width: 320px;
  }

  /*Mobile-Footer*/

  .footer-container {
    padding-left: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .Links-col-1 {
    padding-bottom: 20px;
  }

  .Links-col-2 {
    padding-bottom: 20px;
  }
}
